@media(max-width: 768px) {

    .tpRunsSelector {
        display: block;
        margin-left: 16px;
    }

    .gameModeSelectors {
        display: block;
        margin-right: 16px;
    }

    #playerAvatar {
        justify-content: center;
        padding-right: 0;
        padding-left: 0;
        margin-bottom: 20px;
    }

    .MedalsColumn {
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 20px;
        padding: 0px !important;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center !important;
    }

    .WRMedals {
        order: 2;
        display: inline-block;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }

    .RedMedals {
        order: 1;
        display: inline-block;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }

    .BlueMedals {
        order: 3;
        display: inline-block;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }

    .ProfileData {
        padding-left: 50px !important;
        padding-right: 0px !important;
        overflow-x: scroll;
    }

    .MapData {
        padding-left: 0px !important;
        padding-right: 0px !important;
        margin-right: 15px;
        margin-left: 15px;
        overflow-x: scroll;
    }

    #playerName, #mapName {
        font-size: 50px !important;
    }

    .countryFlag {
        /*countryflags.io->50px by 50px*/
        /*flagcdn.com->42px by 28px*/
        width: 50px;
        height: 50px;
    }

    #playerPoints, #playerRank, #mapTier {
        font-size: 30px;
    }

    #finishedMapsSearch, #mapRankingSearch {
        margin-right: 0px !important;
        margin-left: auto;
    }
    .table-top .fa-search {
        display: none;
    }

    #multiPurposeForm .fa-search{
        display: none;
    }

    .achievementsColumn {
        text-align: center;
    }

    .barsColumn {
        padding-right: 70px;
        padding-left: 70px;
        margin-bottom: 20px;
    }

    .carousel-control-next {
        margin-right: -15px !important;
    }

    #userLogin {
        margin: 8px 6px;
    }

    .loadMoreCards{
        display: block !important;
    }

    .FirstPlaceCol {
        order: 1;
    }

    .SecondPlaceCol {
        order: 2;
    }

    .ThirdPlaceCol {
        order: 3;
    }
}

html {
    overflow-y:scroll;
}

body{
    color: white;
    background-color: #121212;
}

table{
    background-color: #1e1e1e !important;
    table-layout: fixed;
}

thead th{
    background-color: #272727;
    height: 50px;
}

.th-lg {
    min-width: 190px !important;
}

.map-name {
    max-width: 190px;
}

.table-top{
    height: 50px;
    background-color: #232323;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-weight: 400;
}

.table-responsive::-webkit-scrollbar {
    display: none;
}

.page-link {
    color: white !important;
}

a{
    color:white;
}

.form-control,
.form-control:focus{
    color: white;
}

.multi-purpose-input::placeholder {
    opacity: 0.4 !important;
}

.countryFlag{
    margin-left: 20px;
}

.configuration-row{
    padding-top:30px;
    font-weight: 500;
}

.configuration-radio {
    display: none; 
}

.configuration-radio:not(:checked) + label {
    color: grey;
}

.radio-label{
    cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #2E2E2E inset !important;
    box-shadow: 0 0 0 30px #2E2E2E inset !important;
    -webkit-text-fill-color: white !important;
    caret-color: white;
}

.dropdown-menu {
    background-color: #2E2E2E;
}

.dropdown-item {
    color: white;
}

.dropdown-item:focus,
.dropdown-item:active,
.dropdown-item:hover {
    color: white;
    background-color: #4b4c4f;
    border-style:none;
    outline: none;
}

.dropdown-divider {
    opacity: 20%;
    margin: 8px;
}

.navbar .dropdown-menu a:not(.active) {
    color: white;
}

.navbar .dropdown-menu {
    margin-top: 0.125rem;
}

a.waves-effect, a.waves-light {
    display: block;
}

/*http://ianlunn.github.io/Hover/*/
.hvr-grow-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0);
-webkit-transform: scale(1.03);
transform: scale(1.03);

-webkit-animation: rainbow 5s ease infinite;
-z-animation: rainbow 5s ease infinite;
-o-animation: rainbow 5s ease infinite;
animation: rainbow 5s ease infinite;
}

@-webkit-keyframes rainbow {
    0% { box-shadow: 0 5px 10px -5px blue; }
    20% { box-shadow: 0 5px 10px -5px red; }
    40% { box-shadow: 0 5px 10px -5px orange; }
    60% { box-shadow: 0 5px 10px -5px green; }
    80% { box-shadow: 0 5px 10px -5px cyan; }
    100% { box-shadow: 0 5px 10px -5px blue; }
}
@-moz-keyframes rainbow {
    0% { box-shadow: 0 5px 10px -5px blue; }
    20% { box-shadow: 0 5px 10px -5px red; }
    40% { box-shadow: 0 5px 10px -5px orange; }
    60% { box-shadow: 0 5px 10px -5px green; }
    80% { box-shadow: 0 5px 10px -5px cyan; }
    100% { box-shadow: 0 5px 10px -5px blue; }
}
@-o-keyframes rainbow {
    0% { box-shadow: 0 5px 10px -5px blue; }
    20% { box-shadow: 0 5px 10px -5px red; }
    40% { box-shadow: 0 5px 10px -5px orange; }
    60% { box-shadow: 0 5px 10px -5px green; }
    80% { box-shadow: 0 5px 10px -5px cyan; }
    100% { box-shadow: 0 5px 10px -5px blue; }
}
@keyframes rainbow { 
    0% { box-shadow: 0 5px 10px -5px blue; }
    20% { box-shadow: 0 5px 10px -5px red; }
    40% { box-shadow: 0 5px 10px -5px orange; }
    60% { box-shadow: 0 5px 10px -5px green; }
    80% { box-shadow: 0 5px 10px -5px cyan; }
    100% { box-shadow: 0 5px 10px -5px blue; }
}

.card-img-overlay {
    background: linear-gradient(0deg, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.8) 24%, rgba(0,0,0,0) 100%);
    border-radius: 0.5rem;
}

.card, .card-body, .card-img{
    border-radius:0.5rem !important;
}

.medal800sCount {
    position: absolute;
    font-weight: 300;
    font-size: 12px;
    top: 10px;
    left: -15px;
    padding: 3px 5px;
    border-radius: 15%;
    background: #164f89;
    color: white;
    user-select: none;
}

.medal900sCount {
    position: absolute;
    font-weight: 300;
    font-size: 12px;
    top: 9px;
    left: -15px;
    padding: 3px 5px;
    border-radius: 15%;
    background: #701018;
    color: white;
    user-select: none;
}

.medalWRsCount {
    position: absolute;
    font-weight: 300;
    font-size: 12px;
    top: 5px;
    left: -31px;
    padding: 3px 5px;
    border-radius: 15%;
    background: #936e00;
    color: white;
    user-select: none;
}

.longjumpRainbow {
    animation: fontRainbow 5s ease infinite;
}

@keyframes fontRainbow { 
    0% { color: #5d96d6; }
    20% { color: #4abc8d; }
    40% { color: #fa292e; }
    60% { color: #e4ae39; }
    80% { color: #d22ce5; }
    100% { color: #5d96d6; }
}

.carousel-control-prev {
    margin-left: -20px;
    width: 70px;
}
  
.carousel-control-next {
    margin-right: -20px;
    width: 70px;
}

.col-lg:empty { display: none; }

.holoSticker {
    /*-webkit-mask-image: url('../img/Stickers/260/Stan-Holo.png');
    mask-image: url('../img/Stickers/260/Stan-Holo.png');*/
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
}

.holoSticker:before,
.holoSticker:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-image: linear-gradient(
      115deg,
      transparent 0%,
      rgb(0, 231, 255) 30%,
      rgb(255, 0, 231) 70%,
      transparent 100%
    );
    background-position: 0% 0%;
    background-repeat: no-repeat;
    background-size: 300% 300%;
    /*mix-blend-mode: color-dodge;*/
    opacity: 0.2;
    z-index: 1;
    animation: holoGradient 15s ease infinite;
}
.holoSticker:after {
    background-image: url("../img/Stickers/260/Sparks-optimize.gif");
    background-position: center;
    background-size: 180%;
    mix-blend-mode: color-dodge;
    opacity: 0.7;
    z-index: 2;
    animation: none;
}
  
.holoSticker.active:before {
    opacity: 0.5;
    animation: none;
    transition: none;
    background-image: linear-gradient(
      115deg,
      transparent 0%,
      transparent 25%,
      rgba(0, 231, 255,0.7) 45%,
      rgba(255, 0, 231,0.7) 55%,
      transparent 70%,
      transparent 100%
    );
}
  
.holoSticker.active:before,
.holoSticker.active:after {
    animation: none;  
}
  
@keyframes holoGradient {
    0%, 100% {
      background-position: 0% 0%;
    }
    10% {
      background-position: 0% 0%;
    }
    19% {
      background-position: 100% 100%;
    }
    35% {
      background-position: 100% 100%;
    }
    55% {
      background-position: 0% 0%;
    }
}

#mapImageCarousel .carousel-indicators {
    position: relative;
    height: 56px;
    margin-top: 1rem;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    justify-content: flex-start;
}

#mapImageCarousel .carousel-indicators>li {
    position: relative;
    width: 100px;
    height: 56px;
    background-color: transparent;
    border-bottom: 0px;
    border-top: 0px;
}

#mapImageCarousel .carousel-indicators li img {
    object-fit: cover;
    display: block;
    opacity: 0.3;
}

#mapImageCarousel .carousel-indicators li.active img {
    opacity: 1;
    border-style: solid;
    border-width: 1px;
}

#mapImageCarousel .carousel-indicators li.active:hover img {
    opacity: 1;
}

#mapImageCarousel .carousel-indicators li:hover img {
    opacity: 0.75;
}

.videoThumbOverlay {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 32px;
    height: 32px;
    background-image: url(../img/VideoOverlay.png);
}

.workshop-container {
    background-image: url(../img/WorkshopBackground.png);
    background-size:cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*RANK COLORS*/

.GOD{
    color: #e3ad39;
}
.DEMIGOD{
    color: #ecc166;
}
.PRO\+{
    color: #fe0000;
}
.PRO{
    color: #ff2929;
}
.SEMIPRO\+{
    color: #f9690e;
}
.SEMIPRO{
    color: #f27935;
}
.EXPERT\+{
    color: #d22ce5;
}
.EXPERT{
    color: #da5ee8;
}
.SKILLED\+{
    color: #3254fc;
}
.SKILLED{
    color: #5975ff;
}
.REGULAR\+{
    color: #5e97d8;
}
.REGULAR{
    color: #658cb9;
}
.CASUAL\+{
    color: #67809f;
}
.CASUAL{
    color: #6c7a89;
}
.TRAINEE\+{
    color: #919ca8;
}
.TRAINEE{
    color: #bdc3c7;
}
.SCRUB\+{
    color: #dadfe1;
}
.SCRUB{
    color: #eeeeee;
}
.NEWBIE\+{
    color: #ffffff;
}
.NEWBIE{
    color: #ffffff;
}

/*TIER COLORS*/

.DEATH{
    color: #d22ce5;
}
.EXTREME{
    color: #fe0000;
}
.VERY-HARD{
    color: #fe4040;
}
.HARD{
    color: #e4ae39;
}
.MEDIUM{
    color: #ece37a;
}
.EASY{
    color: #a1fe47;
}
.VERY-EASY{
    color: #40fe40;
}